html { height: 100vh; }
body { height: 100%; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
}

.navbar .main-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-decoration: none;
  }

#header {
height: 13vh;
background: linear-gradient(120deg, #000, 65%, #5121ff 55%);
position: relative;
}

.link {
  color: white;
  text-decoration: none;
}

.textLink {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 1.0px;
  font-size: 11px;
}
.navbar-toggle {
  position: absolute;
  color: white;
  top: 22px;
  right: 20px;
  cursor: pointer;
  color: rgba(255,255,255,0.8);
  font-size: 24px;
  }

  h2 {
    color: azure;
    margin-left: 6%; 
  }

/* About page */
.about-div {
  height: 66vh;
  overflow: auto;
}

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.about-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.abouth2 {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  font-size: 120%;
  margin-left: 0;
}
.gary-photo {
  height: 180px;
  display: flex;
  align-items: center;

}

.💬 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 2%;
}

.photo {
  height: 11rem;
  padding: 2%;
  border: 3px solid rgb(129, 118, 118);
  background: rgb(41, 39, 39);
  margin: auto;
}

.💳  {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background: #5121ff;
  color: #FFFFFF;
  margin-left: 21%;
  width: 60%;
}


/* Tech page css */
.techdiv {
  height: 55vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 8%; 
  scroll-padding: 50px 0 0 50px;
}


.hvrbox{
  
  color: white;
}

.hvrbox-text {
  display: flex;
  justify-content: center;
  margin-left: 35%;
}

.hvrbox:hover {
  color:#5121ff
}


.hvrbox-text:hover {
  display: normal;
} 


.tech-col .tech-icons i {
  padding: 0 10px;
  }

.icon {
  height: 90px;
  padding: 10px;
  margin-left: 50px;
  }
  
.tech-icons {
  overflow:scroll;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  }

.techparagraph {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-color: #5121ff;
  padding: 10px;
}

/* Card CSS */
.tech-div {
  height: 50vh;
  overflow: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:250px; 
  background: #5121ff;
  color: #FFFFFF;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 20px;

} 

.card-img-top {
  /* margin-left: 65px; */
  margin-top: 5px;
}

.card-body {
  margin-left: 65px;
}

.card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6%;
}

.button-div {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  margin-left: -60px;
}

.btn-btn-primary{
  margin-left:5px;
  
}

.h2desc {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0A0A0C;
  margin-right: 6%;
}

.description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding-top: 2%;
  width: 90%;
  margin-left: 4%;
}

.projdescription {
  width: 50%;
  height: 20vh;
  border-style: ridge;
  background-color: #5121ff;
  color: #FFFFFF;
  margin-right: 1%;

}

.projectdiv {
display: flex;
justify-content: center;
}

#connect {
  margin-right: 1%;
}

#movie {
  margin-right: 1%;
}

#gcw {
  margin-left: 1%;
}

#hhub {
  margin-left: 1%;
}

.h3desc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.list {
  list-style-type: circle;
  margin-left: 1%;
}

/* Footer CSS */
footer.contact-info {
  /* height: 400px; */
  position: fixed;
  bottom: 0;
  background: #0F0F0F;
  width: 100%;
  z-index: -1;
}


footer.contact-info>h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
    color: #5121ff;
    font-weight: bold;
    border-bottom: 1px solid #6421ff;
    width: 20%;
    margin: 15px auto;
}
h3.title {
  letter-spacing: 0.1em;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  color: #5121ff;
  text-transform: uppercase;
}

.tech-col h3 {
  text-align: center;
  border-bottom: 1px solid #5121ff;
  width: 20%;
  margin: 15px auto;
}

div.contact div a h4 {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 1.5px;
}

footer.contact-info div.contact {
  display: flex;
  justify-content: center;
  text-align: center;
}

div.contact div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #0A0A0C;
  width: 15%;
  margin: 2em;
  height: 80px;
  color:#5121ff
}

div.contact div a {
  text-decoration: none;
  line-height: 55px;
}

div.contact div a i {
  padding: 15px;
  font-size: 1.6rem;
  border-radius: 50%;
  background: #0A0A0C;
  color: #5121ff;
  transition: all 0.3s ease-in-out;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

nav.black {
  padding:0px 10px
}

div.logoFlex {
  width: 85%
}

@media (max-width: 1366px) {
  .card {
    height: 30vh;
  }
}

@media (max-width: 1112px) {
  .card {
    height: 35vh;
  }
  .about-div {
    height: 55vh;
  }
  .techdiv {
    height: 59vh;
  }
}

  @media (max-width: 1024px) {
    .about-div {
      height: 69vh;
    }
    #img6 {
      display: none;
    }
    .card {
      height: 320px
    }
    .💳 {
      margin-left: 16%;
      width: 65%;
    }
    h2 {
      padding-top: 5%;
    }
    .card-body {
      margin-left: 9%;
    }
    .button-div {
      margin-left: -6%;
    }
  }

  @media (max-width: 782px) {
    .about-div {
      height: 55vh;
    }
    .techdiv {
      height: 55vh;
      padding-top: 19%;
    }
  }

  @media (max-width: 768px) {
    .about-div {
      height: 61vh;
    }

    .h2desc {
      display: none;
    }
    
    .description {
      display: none;
    }
  
    .💳  {
      margin-left: auto;
      width: auto;
    }
  
    #img7 {
      display: none;
    }
  
  }

@media (max-width: 694px) {
  #header {
    height: 15vh;
  }
  .about-div {
    height: 55vh;
  }
  
  .techdiv {
    padding-top: 30%;
  }
}


@media (max-width: 414px) {
#header {
  height: 15vh;
}
.about-div {
  height: 54vh;
}
.techdiv {
  height: 50vh;
  padding-top: 50%;
}
.card {
  height: 280px;
}
}


@media (max-width: 375px) {

/* .safari13 {
  .techdiv {
    height: 45vh;
  }
} */

#header {
  height: 16vh;
}

h2{
  padding-top: 1%;
}

.about-div {
  height: 50vh;
  overflow: auto;
}

.💬 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 2%;
}

.abouth2 {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  font-size: 90%;
  flex-direction: row;
}

.hvrbox{
  padding-bottom: 12%;
  margin-left: -18%;
}

.hvrbox-text {
  margin-left: 13%;
}

.💳  {
  margin-left: auto;
  width: auto;
}

#img1 {
  display: none;
}

#img3 {
  display: none;
}

#img4 {
  display: none;
}

#img7 {
  display: none;
}

#img8 {
  display: none;
}


#project-title {
  margin-left: 100px;
}

.h2desc {
  display: none;
}

.description {
  display: none;
}

.tech-col h3 {
  width: 50%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 0;
    margin-right: 0;
    height: 230px;
  }
.card-img-top {
    margin-left: 0;
}
.card-body {
  margin-left: 0;
}

  .card-body {
    text-align: center;
  }

  .button-div {
    margin-left: 0;
  }

  .techdiv {
    height: 53vh;
    padding-top: 0%;
  }

  .tech-icons {
    display: block;
    height: 10vh;
  }

  .techparagraph {
    display: none;
  }

}

@media (max-width: 360px) {

  #header {
    height: 17vh;
  }
  .about-div {
    height: 44vh;
  }
  .techdiv {
    height: 43vh;
  }

}

.techdiv .safari_only {
    padding-top: 8%;

}